body{
    display:flex;
    background-color: bisque;
    justify-content: space-evenly;
}

.container{
    width: 400px;
    height:400px;
    position: relative;
    /* border:solid 2px red */
}

.circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #00897B;
    position: absolute;
    }

@keyframes bille{
    0%{top:0%; left:0%;}
    100%{top: calc(100% - 40px); left:0% }}

@keyframes bille1{
    0%{ opacity: 0;}
    100%{ opacity: 100%;} }

.anim-1{
    margin-left: calc(50% - 20px);
    animation-name: bille, bille1;
    animation-duration: 2s, 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition-timing-function: ease-in-out;
}

@keyframes bille2{
    0%{ top:0%;left:calc(100% - 40px) }
    100%{ top:calc(100% - 40px);left:0% }

}

.anim-2{
    animation: bille2 2s infinite alternate;
    transition-timing-function: ease-in-out;
}

@keyframes bille3
{
    0%{top: 0%; left: 0%;
        rotate: 90deg;}

    33%{top: calc(100% - 40px); left: 0%;
        background-color:red;
        border-radius: 0%;
        rotate: -90deg;}

    66%{top: 0%;left: calc(100% - 40px);
        background-color:greenyellow;
        border-radius: 50%;
        rotate: -90deg;}

    100%{ top: calc(100% - 40px); left: calc(100% - 40px);
        border-radius: 0%;
        background-color:blue;
        rotate:90deg; }
}

.anim-3{
    animation: bille3 2s infinite alternate;;
    transition-timing-function: ease-in-out;
    
}

@keyframes bille4
{
    0%{ top: 0%; left: 0%; }
    25%{top:calc(100% - 40px);left:0%;
        background-color:red;
            opacity:0.25;}
    50%{top:0%; left:calc(100% - 40px);
        background-color:greenyellow;
        opacity:0.5}
    75% { top:calc(100% - 40px);left:calc(100% - 40px);
        background-color:blue;
        opacity:0.75}   
    100%{ top:0%; left:0%;
        background-color:blue
        }
}

.anim-4{
    animation: bille4 5s infinite ;
    transition-timing-function: ease-in-out;
    
}

