body{
    display:flex;
    background-color: bisque;
    justify-content: space-evenly;
}

.container{
    width: 200px;
    height:200px;
    position: relative;
}

.circle {
    border-radius: 50%;
    width: 20%;
    height: 20%;
    background-color: #00897B;
    position: absolute;
    }

@keyframes bille{
    0%{ translate: 0px 0px;}
    100%{ translate: 0px 160px }}

@keyframes bille1{
    0%{ opacity: 0;}
    100%{ opacity: 100%;} }

.anim-1{
    margin-left: 80px;
    animation-name: bille, bille1;
    animation-duration: 2s, 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition-timing-function: ease-in-out;
}

@keyframes bille2{
    0%{ translate: 0px 160px }
    100%{ translate: 160px 0px }

}

.anim-2{
    animation: bille2 2s infinite alternate;
    transition-timing-function: ease-in-out;
}


@keyframes bille3
{
    0%{translate:0px 0px;
        rotate: 90deg;}

    33%{translate: 160px 0px;
        background-color:red;
        border-radius: 0%;
        rotate: -90deg;}

    66%{translate: 0px 160px;
        background-color:greenyellow;
        border-radius: 50%;
        rotate: -90deg;}

    100%{ translate:  160px 160px;
        border-radius: 0%;
        background-color:blue;
        rotate:90deg; }
}

.anim-3{
    animation: bille3 2s infinite alternate;;
    transition-timing-function: ease-in-out;
    
}

@keyframes bille4
{
    0%{ translate:0px 0px }
    25%{translate: 160px 0px;
        background-color:red;
    opacity:0.25;}
    50%{translate: 0px 160px;
        background-color:greenyellow;
    opacity:0.5}
    75% { translate:  160px 160px;
        background-color:blue;
    opacity:0.75}   
    100%{ translate:  0px 0px;
        background-color:blue
        }
}

.anim-4{
    animation: bille4 5s infinite ;
    transition-timing-function: ease-in-out;
    
}

